.sidebar {
  position: absolute;
  top: 0;
  transform: translateX(-550%);
  font-family: TT Lakes;
  width: 20rem;
  box-sizing: border-box;
  background-color: $bgHeader;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: all 400ms linear;
  z-index: 3;
  &--active {
    transform: translateX(0%);
  }
  .overlay {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background-color: $bgHeader;
    opacity: 0.9;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
  }
  &__menu {
    background-image: url("../img/ic/close-burger.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: linear;
    &:hover {
      background-image: url("../img/ic/burger.svg");
    }
  }
  &__logo {
    margin: 0 auto 0 1rem;
  }
  &__search {
    background-image: url("../img/ic/search-icon.svg");
  }
  .button__call {
    background: url("../img/ic/call-icon.svg");
  }
  .button__chat {
    background: url("../img/ic/chat-icon.svg");
  }
  .button__profile {
    background: url("../img/ic/profile-icon.svg");
  }
  &__search,
  .button__profile,
  .button__chat,
  .button__call {
    background-position: center;
    background-repeat: no-repeat;
    transition-duration: 500ms;
    transition-property: all;
    transition-timing-function: linear;
    &:hover {
      transform: rotate(10deg) scale(1.1);
      filter: saturate(120%);
    }
  }
  .button {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: $buttonColor;
    border: none;
  }
  &__navigatoin-list {
    margin-top: 1.875rem;
    padding: 0;
    list-style: none;
  }
  &__navigation-item {
    position: relative;
    padding-left: 1.5rem;
    &--active {
      &::before {
        position: absolute;
        content: url("../img/highlight.svg");
        height: 2rem;
        left: 0;
        transform: translateY(-30%);
      }
      .sidebar__navigation-link {
        color: $grayCaption;
      }
    }
  }
  &__navigation-link {
    text-decoration: none;
    color: $text;
    line-height: 1.5rem;
    cursor: pointer;
    &:hover {
      color: $grayCaption;
    }
  }
  &__actions {
    list-style: none;
    display: flex;
  }
  &__action {
    margin-right: 1rem;
  }
  &__contacts {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
  }
  .contact-email,
  .contact-tel {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 0.75rem;
    color: $text;
    &:hover {
      color: blue;
    }
  }
  .contact-tel {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__lang-list {
    list-style: none;
    display: flex;
  }
  &__lang-item {
    margin-right: 0.5rem;
  }
  &__lang-link {
    text-decoration: none;
    color: $text;
    &:hover {
      color: $grayCaption;
    }
    &--active {
      color: $grayCaption;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100vw;
    height: 100vh;
    &__header {
      padding: 1.5rem 1rem;
    }
    &__navigatoin-list {
      margin-top: 0;
    }
    &__navigation-item {
      margin-bottom: 1.5rem;
      padding-left: 1rem;
    }
    &__actions {
      margin-top: 2rem;
      padding-left: 1rem;
    }
    &__contacts {
      margin-left: 1rem;
    }
    &__lang-list {
      margin-top: 0.5rem;
      padding: 0 0 2rem 1rem;
    }
  }
  @media (min-width: 767px) {
    &__navigation-item {
      margin-bottom: 2rem;
      padding-left: 1.5rem;
    }
    &__actions {
      margin-top: 16.75rem;
      padding-left: 1.5rem;
    }
    &__contacts {
      margin-left: 1.5rem;
    }
    &__lang-list {
      margin: 2.5rem 0 0 0;
      padding: 0 0 2.5rem 1.5rem;
    }
  }
  @media (min-width: $maxW) {
    transform: translateX(0%);
    height: 100%;
    box-shadow: none;
    .overlay,
    &__menu {
      display: none;
    }
    &__logo {
      margin-left: 0;
    }
  }
}
