.brands {
  background-color: $sectionCaption;
  overflow: hidden;
  &__inner {
    margin: 0 auto;
  }
  &__header {
    font-size: 1rem;
    font-weight: 400;
    color: $grayCaption;
    padding: 1rem;
    margin: 0 auto;
    border-top: 1px solid $borderDivider;
    vertical-align: middle;
    text-transform: uppercase;
    background: linear-gradient(90deg, $sectionCaption 30%, $bgHeader 98.61%);
  }
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  &__list-item {
    max-width: 15rem;
    max-height: 4.5rem;
  }
  &__list-btn {
    box-sizing: border-box;
    background-color: $bgHeader;
    border: 1px solid $borderButton;
    border-radius: 6px;
    width: 100%;
    height: 4.5rem;
    margin-bottom: 1rem;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::after {
      content: "";
      display: block;
      position: relative;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid $buttonColor;
      border-radius: 50%;
      background: url("../img/ic/dropdown.svg") center no-repeat;
    }
  }
  &__button {
    font-family: inherit;
    font-weight: 500;
    margin-top: 0.5rem;
    background-color: inherit;
    border: none;
    cursor: pointer;
    &::before {
      content: url("../img/ic/expand.svg");
      margin-right: 0.5rem;
      display: inline-block;
      transform: translateY(0.4rem);
      transition-duration: 0.8s;
    }
    &--active {
      &::before {
        transform: rotate(180deg) translateY(-0.15rem);
      }
    }
  }
  .swiper-pagination {
    display: none;
  }
  @media (min-height: 320px) and (max-width: 767px) {
    &__inner {
      margin-left: 1rem;
    }
    &__container {
      position: relative;
      height: 8.25rem;
    }
    &__list-item {
      margin-right: 1rem;
    }
    &__button {
      display: none;
    }
    .swiper-pagination {
      display: block;
    }
  }
  @media (min-width: 768px) {
    &__header {
      padding-left: 1.5rem;
      margin-top: 2rem;
    }
    &__inner {
      margin-left: 1.5rem;
    }
    &__minimized {
      height: 12.5rem;
      overflow: hidden;
    }
    &__list {
      flex-wrap: wrap;
      margin-top: 1.5rem;
    }
    &__list-item {
      max-width: 14rem;
      min-height: 4.5rem;
      margin: 0 1.5rem 1rem 0;
    }
    &__container {
      overflow: hidden;
    }
  }
  @media (min-width: $maxW) {
    &__header {
      padding-left: 2rem;
      margin-top: 3rem;
    }
    &__inner {
      margin-left: 2rem;
    }
    &__minimized {
      height: 12.5rem;
      overflow: hidden;
    }
    &__list {
      flex-wrap: wrap;
      margin: 2rem 2rem 1rem 0;
    }
    &__list-item {
      margin: 0 2rem 1rem 0;
      max-width: 15rem;
    }
  }
}
