.footer {
  position: relative;
  max-width: 70rem;
  margin: 0 auto;
  font-size: 0.875rem;
  color: $grayCaption;
  background-color: $bgColor;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $borderDivider;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  @media (min-width: 320px) and (max-width: 767px) {
    &__info {
      flex-direction: column;
    }
    &__text,
    &__link {
      text-align: center;
    }
  }
  @media (min-width: 768px) {
    &__info {
      align-items: baseline;
      padding: 0 1.5rem;
    }
    &__text {
      max-width: 30%;
      &:last-child {
        text-align: right;
      }
    }
  }
  @media (min-width: $maxW) {
    left: 10rem;
    &__info {
      padding: 0 2rem;
    }
    &__text {
      max-width: 33%;
    }
  }
}
